<% content_for :head do %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOAgUCn6GQzKlnMwFmO2kBvG_S3JRD38&libraries=places&sensor=false" %>
<% end %>

<%= form_for(@issue, html: {id: "form"}) do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :url, "Link to more information" %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :organisation, "Owner of Website" %><br>
    <%= f.text_field :organisation %>
  </div>
  <div class="field">
    <%= f.hidden_field :lat %>
  </div>
  <div class="field">
    <%= f.hidden_field :lng %>
  </div>
  <div class="actions">
    <%= f.submit "Submit issue", id: "form-button" %>
  </div>
<% end %>

<div id="map-container">
  <div id="map-canvas"/>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    initialize();
    mapForm();
  });
</script>






