<%= form_for([@issue,@asset]) do |f| %>
<% if @asset.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

  <ul>
    <% @asset.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= f.hidden_field :issue_id, value: @issue.id %>

<%= f.label :image %><br>
<%= f.file_field :image %>

<div class="actions">
  <%# display differnt copy for button when updating %>
  <% button_text = (@asset.new_record?) ? "Upload Image" : "Update Image" %>
  <button id="form-button" class="btn btn-primary"><%= button_text %></button>
</div>
<% end %>
