<!DOCTYPE html>
<html>
<head>
  <title>EnviroMaps</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
	<nav>
    <ul id="left-nav">
      <li><a href="/">Enviro Maps</a></li>
    </ul>
    <ul id="right-nav">
  		<% if user_signed_in? %>
      <li><%= link_to "Submit an issue", new_user_issue_path(current_user) %></a></li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
      <% else %>
      <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
      <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
      <% end %>
    </ul>
  </nav>

  <div id="nav-margin">
  </div>
  
    <%= yield %>
  
</body>
</html>
